<!DOCTYPE html>
<html lang="ko" manifest="">
	<head>
		<title>geopicture</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="/css/default.css" />
		<script type="text/javascript" src="/js/jquery/jquery.js"></script>
	</head>
	<body onContextMenu="return false">
		<div id="map"></div>
		{{{body}}}
		<script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=576ff8ec0e48c2e85ada1c1cc30b1b7a"></script>
		<script type="text/javascript" src="/js/main.js"></script>
	</body>
</html>